body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #b1f9be;
}

h1 {
    color: #333333;
    text-align: center;
    font-family: "Times New Roman", serif;
}

p {
    color: #333333;
    text-align: center;
    font-family: "Times New Roman", serif;
}
h3 {
    color: #333333;
    text-align: center;
    font-family: "Times New Roman", serif;
}

form {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 700px;  
}

form input[type="text"],
form input[type="file"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


form label {
    display: block ;
    margin-top: 12px;
    font-weight: bold;
}

button {
    margin-top: 15px;
    margin-right: 10px;
    padding: 8px 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#details {
    width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}